<header class="header">
    <a href="/" class="header__logo">
        <i class="fa-solid fa-building-columns"></i> MITS</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">
                    <i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li>
                <a href="/about" class="">
                    <i class="fa-solid fa-eject"></i> About</a>
            </li>
            <li>
                <a href="/contact" class="">
                    <i class="fa-solid fa-message"></i> Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" placeholder="Search" aria-expanded="false">
            search
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button  placeholder="Search" aria-expanded="false">
            <a href="admin/login"><i class="fa-solid fa-door-open"></i> LOGIN </a>
          
        </button>
      
    </div>
</button>

  
</button>
    
</header>