<h1>ABOUT</h1>
<a href="#" class="mits">
<img src="/images/againnaacR.jpeg" alt="">
</a>

<h3 class="about">
    MITS Pyqs is the place where you can find all previous year question paper from mid-sem to end-sem. No more suffering everything available in your fingertips.
</h3>








