<h2 class="contact">You can reach out to me here!!</h2>

<a href="https://www.instagram.com/legizo_o?igsh=MW1nZWx4a2txcDlyaQ==" class="insta">
    <img src="/images/instagram-1-svgrepo-com.svg" alt="Instagram">
    FOLLOW 
</a>

<a href="https://x.com/Legion_blocked?t=96bIrZYGg670nokgMuUSNA&s=09" class="tweeter">
    <img src="/images/twitter-color-svgrepo-com.svg" alt="tweeter aka X">
    FOLLOW
</a>
